{# New Password #}
<div class="form-group has-danger mt-4">
    <div {% if form_errors(field.first) %} class="text-danger" {% endif %}>
        {{ form_label(field.first)}}
    </div>
    <small>Password rules here.</small>
    <div {% if form_errors(field.first) %} class=" form-control is-invalid" {% endif %}>
        {{ form_widget(field.first) }}
    </div>

    <div class="invalid-feedback">
        {{ form_errors(field.first) }}
    </div>
</div>

{# Confirm Password #}
<div class="my-4">
    <div class="form-label mt-4">
        {{ form_label(field.second)}}
    </div>
    <div>
        {{ form_widget(field.second)}}
    </div>
</div>