{{ form_start(form) }}

{# Title #}
{% include "/form/templates/field.html.twig" with {field:form.title} only %}

{# Title #}
{% include "/form/templates/field.html.twig" with {field:form.description} only %}

{# Thumbnail #}
	<div class="form-group"> {{form_label(form.postThumbnail)}}
	{{form_widget(form.postThumbnail)}}
	<div class="form-error">
		{{ form_errors(form.postThumbnail) }}
	</div>
</div>

<div class="form-group">
	{{form_label(form.submit)}}
</div>

{{ form_end(form) }}