{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Accueil
{% endblock %}


{% block content %}

	{{parent()}}
	<div class="container mt-4">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{message}}
			</div>
		{% endfor %}

		{% if app.user is null %}
			<div class="jumbotron">
				<h1 class="display-4">Welcome to instakilo !</h1>
				<p class="lead">Instakilo is an app to simply and quickly share your images !</p>
				<hr class="my-4">
				<p>To start posting, <a href="{{path('user.register')}}">register</a> or <a href="{{path('security.login')}}">log</a> in to your account.</p>
				<a class="btn btn-primary btn-lg" href="{{path('user.register')}}" role="button">Register</a>
				<a class="btn btn-primary btn-lg" href="{{path('security.login')}}" role="button">Login</a>

			</div>
		{% endif %}

		{# List all posts #}
		{% include '/pages/posts/list.html.twig' %}

	</div>


</div>{% endblock %}