{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Home
{% endblock %}


{% block content %}

	{{parent()}}
	<div class="container mt-4">


		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				<i class="fa-solid fa-circle-check"></i>	{{message}}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				<i class="fa-solid fa-circle-exclamation"></i>	{{message}}
			</div>
		{% endfor %}

		{# Welcome message #}
		{% if app.user %}
			<p>Welcome {{app.user.pseudo|capitalize}}</p>
		{% else %}
			{% include "components/welcome.html.twig" %}
		{% endif %}

		{# Pagination #}
		{% include "components/pagination.html.twig" %}

		{# List all posts #}
		{% include '/pages/posts/list.html.twig' %}

		{# Pagination #}
		{% include "components/pagination.html.twig" %}
		
	</div>


</div>{% endblock %}
