{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Accueil
{% endblock %}


{% block content %}

	{{parent()}}
	<div class="container mt-4">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{message}}
			</div>
		{% endfor %}

		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur instakilo !</h1>
			<p class="lead">Instakilo est une application permettant de partager vos images rapidement et simplement !</p>
			<hr class="my-4">
			<p>Pour commencer à utiliser l'application, rendez-vous sur la page d'inscription.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Créer son compte</a>
		</div>
	</div>

	{% if images is defined and images is not null and images|length>0 %}
		<h2 class="text-end">Il y a actuellement
			{{images.getTotalItemCount}}images ! INCROYABLE !</h2>
	</div>

	{# display navigation #}
	<div class="navigation mt-5 d-flex justify-content-center">
		{{ knp_pagination_render(images) }}
	</div>


	<div class="container-fluid">
		{% for image in images %}
			<div class="card text-white bg-primary mt-4 mb-4 col-lg-12 mx-auto rounded" style="max-width:600px" id="{{image.id}}">
				<div class="card-header text-end">
						{{image.category.label}}</span>
				</div>
				<div class="card-body ">
					<div class="text-center">
						<a href="{{path('image.show',{id:image.id})}}">
							<h4 class="card-title text-white">{{image.title|upper}}</h4>
						</a>

						<a href="{{path('image.show',{id:image.id})}}"><img src="{{image.url}}" width="300" height="300" class="rounded"></a>
					</div>
					<p class="mt-4">By
						<strong>user</strong>
						at
						{{image.uploadAt|date('d/m/Y')}}</p>
					<p class="card-text mt-4">{{image.description}}</p>
					<a href="{{path('image.show',{id:image.id})}}#comments" class="text-white text-decoration-none">
						<p class="text-end">{{image.comments|length}}
							<i class="fa-solid fa-comment"></i>
						</p>
					</a>

				</div>
			</div>

		{% endfor %}
		{# display navigation #}
		<div class="navigation mt-5 d-flex justify-content-center">
			{{ knp_pagination_render(images) }}
		</div>
	{% else %}
		<div class="container-fluid text-center my-5">
			<p>No images found.</p>
		</div>
	{% endif %}
</div>{% endblock %}
