{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Post
	{{image.title}}
{% endblock %}


{% block content %}

	{# Flash messages #}
	<div class="container-fluid">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				<i class="fa-solid fa-circle-check"></i>
				{{message}}
			</div>
		{% endfor %}

		<div
			class="card text-white bg-primary mt-4 mb-4 col-lg-12 mx-auto rounded" style="max-width:600px">

			{# Category #}
			{% if image.category %}
				<div class="card-header text-end">
					<span class="badge bg-info px-2 py-3 rounded">{{image.category.label}}</span>
				</div>
			{% endif %}

			{# Post #}
			<div class="card-body ">
				<div class="text-center">
					<h4 class="card-title">{{image.title|upper}}</h4>

					<img src="/images/posts/{{image.url?image.url:'default.jpg'}}" width="300px" height="300px" alt="post thumbnail">

				</div>
				{# User post #}
				{% include "/components/user.html.twig" with {'userId':image.userImage.id, 'avatar':image.userImage.avatar, 'pseudo' : image.userImage.pseudo, 'createdAt': image.uploadAt } %}
				<p class="card-text mt-4">{{image.description}}</p>

				{# Action buttons #}
				{% if app.user and image.userImage.id == app.user.id %}
					<div>
						<a href="{{path('image.update',{id:image.id})}}">
							<button type="button" class="btn btn-secondary">Edit</button>
						</a>
						<a href="{{path('image.delete',{id:image.id})}}">
							<button type="button" class="btn btn-danger">Delete</button>
						</a>
						<hr>
					</div>
				{% endif %}
				<hr>
				{# Comments #}
				<div class="mt-4" id="comments">
					{% if image.comments|length>0 %}
						<h2 class="mb-4 text-center">{{image.comments|length}}
							comment{{image.comments|length>1?'s':''}}
							:</h2>
						{% for comment in image.comments %}
							{# User Comment #}
							{% include "/components/user.html.twig" with {'userId':comment.userComment.id, 'avatar':comment.userComment.avatar, 'pseudo' : comment.userComment.pseudo, 'createdAt': comment.userComment.createdAt } %}
							<p>{{comment.message}}</p>
							<hr>

						{% endfor %}

					{% else %}
						<p>No commentary yet, be the first to post one !</p>
					{% endif %}

					{# Comment form #}
					{% if app.user %}

						{{ include('comment/_form.html.twig') }}
						<div class="text-center">
							<a href="{{path('home')}}#{{image.id}}">
								<button class="btn btn-secondary hBack" type="button">Back</button>
							</a>
						</div>

					{% else %}

						<p class="text-center mt-4">

							<a href="{{path('security.login')}}" class="text-white">Login</a>
							or
							<a href="{{path('user.register')}}" class="text-white">register</a>
							to comment this post.
						</p>

					{% endif %}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
