{% extends "base.html.twig" %}

{% block title %}

	{{parent()}}
	- Post
	{{post.title}}

{% endblock %}

{% block content %}

	{# Flash messages #}
	<div class="container-fluid">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				<i class="fa-solid fa-circle-check"></i>
				{{message}}
			</div>
		{% endfor %}

		{# Post #}
		{% include "/components/post.html.twig" with {'fullDescription':true,'actions':true} %}

				<hr>
				{# Comments #}
				<div class="mt-4" id="comments">

					{% if post.comments|length>0 %}

						<h2 class="mb-4 text-center">{{post.comments|length}}
							comment{{post.comments|length>1?'s':''}}
							:</h2>

						{% for comment in post.comments %}
						
							{# User Comment #}
							{% include "/components/user.html.twig" with {'userId':comment.userComment.id, 'avatar':comment.userComment.avatar.url, 'pseudo' : comment.userComment.pseudo, 'createdAt': comment.userComment.createdAt } %}
							
							<p>{{comment.message|raw}}</p>
							<hr>

						{% endfor %}

					{% else %}

						<p>No commentary yet, be the first to post one !</p>
					
						{% endif %}

					{# Comment form #}
					{% if app.user %}

						{{ include('form/comment.html.twig') }}
						<div class="text-center">
							<a href="{{path('home')}}#{{post.id}}">
								<button class="btn btn-secondary hBack" type="button">Back</button>
							</a>
						</div>

					{% else %}

						<p class="text-center mt-4">
							<a href="{{path('security.login')}}" class="text-white">Login</a>
							or
							<a href="{{path('user.register')}}" class="text-white">register</a>
							to comment this post.
						</p>

					{% endif %}

				</div>
			</div>
		</div>

	</div>

{% endblock %}
