{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- User profil
{% endblock %}

{% block content %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}


	<div class="container my-5">
		<h1>Change your password</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}

	</div>
{% endblock %}
