{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- My posts
{% endblock %}

{% block content %}
	{{parent()}}
	
	<div class="container mt-4">

		{% if images %}
			<p>Nombre de posts de l'utilisateur
				<strong>{{userList}}</strong>
				:
				{{images|length}}
				post(s)</p>
			{% include '/pages/posts/list.html.twig' %}
		{% else %}
			<p>L'utilisateur
				<strong>{{userList}}</strong>
				n'a pas encore posté d'images.</p>
		{% endif %}

	</div>
	
{% endblock %}
