{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- My posts
{% endblock %}

{% block content %}
	{{parent()}}

	<div class="container mt-4">
		<div class="d-flex">
			<div class="mx-4">
				<img src="/images/avatar/{{userSelected.avatar.url is defined ?userSelected.avatar.url:'default.jpg'}}" width="130px" height="130px" alt="post thumbnail" class="border">
			</div>
			<div>
				<h1>{{userSelected.pseudo|capitalize}}</h1>
				<p>Member since
					{{userSelected.createdAt|date('Y')}}</p>
				<p>
					{% if posts|length>0 %}
						Total post :
						{{posts|length}}
					{% endif %}
				</p>
			</div>
		</div>
		{% if posts %}

			{# Pagination #}
			{% include "/components/pagination.html.twig" %}

			{# Posts #}
			{% include '/components/posts.html.twig' %}

			{# Pagination #}
			{% include "/components/pagination.html.twig" %}

		{% endif %}

	</div>

{% endblock %}