{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- My posts
{% endblock %}

{% block content %}
	{{parent()}}

	<div class="container mt-4">
		<div class="d-flex">
			<div class="mx-4"> 
			<img src="/images/posts/{{userSelected.avatar?userSelected.avatar:'default.jpg'}}" width="130px" height="130px" alt="post thumbnail" class="border">
</div>
			<div>
				<h1>{{userSelected.pseudo|capitalize}}</h1>
				<p>Member since
					{{userSelected.createdAt|date('Y')}}</p>
				<p>{% if posts|length>0 %}
					Total post : {{posts|length}}
					{% else %}
						No post yet.
					{% endif %}
			</div>
		</div>
		{% if posts %}

			{% include '/pages/posts/list.html.twig' %}

		{% endif %}

	</div>

{% endblock %}
