{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- My profile
{% endblock %}

{% block content %}


	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			<i class="fa-solid fa-circle-exclamation"></i>
			{{message}}
		</div>
	{% endfor %}

	<div class="container my-5">
		<h1>
			{{app.user.pseudo|capitalize}}'s account</h1>

		{# Update time #}
		{% if app.user.updatedAt != null %}
			<small>Your profil has been updated on
				{{app.user.updatedAt|date('m/d/Y')}}
				at
				{{app.user.updatedAt|date('H:i')}}</small>
		{% endif %}

		{% include "/form/user.html.twig" %}
		

	</div>
{% endblock %}
