{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Register
{% endblock %}
{% block content %}
	<div class="container my-5 form-control">

		<h1>
			Register
		</h1>

		{{ form_start(form) }}
		<div class="text-danger py-4 px-4"  style="height:100px;background: url('/images/avatar/avatar_1.jpg');background-size:cover">
		{{ form_widget(form.avatarChoosed) }}

	</div>
		{{ form_end(form) }}
		<p class="mt-4 text-end">Already got an account ? <a href="{{path('security.login')}}">sign in here</a> </p>

	</div>
{% endblock %}
